<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>519010562105-8methdqvtjd91hfherc495uc6ffkipot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519010562105-8methdqvtjd91hfherc495uc6ffkipot</string>
	<key>API_KEY</key>
	<string>AIzaSyCb2botxkH7aAfHdyASTKJSeQQljgdM1No</string>
	<key>GCM_SENDER_ID</key>
	<string>519010562105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guarana.kllect</string>
	<key>PROJECT_ID</key>
	<string>kllectvideo</string>
	<key>STORAGE_BUCKET</key>
	<string>kllectvideo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:519010562105:ios:069e544f07fccbbc</string>
	<key>DATABASE_URL</key>
	<string>https://kllectvideo.firebaseio.com</string>
</dict>
</plist>